<%- include('../../fragments/header.ejs')%>
    <main>
        <!--         <script type="application/javascript" src="/public/js/validationKomputerForm.js"></script>-->
        <!-- <script type="application/javascript" src="/public/js/validationKomputerForm.js"></script> -->
        <!-- <script type="application/javascript;charset=utf-8" src="../../../public/js/validationKomputerForm.js"></script> -->

        <script type="application/javascript;charset=utf-8" src="/public/js/validationCommon.js"></script>
        <script type="application/javascript;charset=utf-8" src="/public/js/validationKomputerForm.js"></script>

        <h2>
            <%= pageTitle %>
        </h2>
        <form class=" form" method="post" action="<%=formAction%>" novalidate onsubmit="return validateForm();">
            <!--  onsubmit="return validateForm();" novalidate> -->
            <!--  onsubmit="return validateForm();"> -->

            <input type="hidden" name="_id" value="<%=komputer._id%>">
            <label for="valueModel">Model:<abbr title="required" aria-label="required">*</abbr></label>
            <input type="text"
                class="<%= validationErrors.find(komp => komp.path.includes('model')) ? 'error-input' : '' %>"
                list="model" name="model" placeholder="Model komputera" id="valueModel" value="<%=komputer.model%>"
                <%=(formMode=='showDetails' )? 'disabled' :''%> >

            <datalist id="model">
                <% for(let komp of allKomputers){ %>
                    <option value="<%=komp.model%>" <%=( komputer._id && komp._id.toString()==komputer._id.toString() )
                        ? 'selected' : '' %>>
                    </option>
                    <% } %>
            </datalist>
            <span id="errorModel" class="errors-text">
                <% if (validationErrors.find(komp=> komp.path.includes('model'))) { %>
                    <%= validationErrors.find(komp=> komp.path.includes('model')).message %>
                        <% } %>
            </span>


            <label for="systemOperacyjnyInput">Zainstalowany system operacyjny:<abbr title="required"
                    aria-label="required">*</abbr></label>

            <input type="text" list="systemOperacyjny" name="zaintstalowany_System_Operacyjny"
                class="<%= validationErrors.find(komp => komp.path.includes('zaintstalowany_System_Operacyjny')) ? 'error-input' : '' %>"
                placeholder="System operacyjny" id="systemOperacyjnyInput"
                value="<%=komputer.zaintstalowany_System_Operacyjny%>" <%=(formMode=='showDetails' ) ? 'disabled' : ''
                %>>
            <datalist id="systemOperacyjny">
                <% for(let komp of allKomputers){ %>
                    <option value="<%=komp.zaintstalowany_System_Operacyjny%>" <%=( komputer._id &&
                        komp._id.toString()==komputer._id.toString() ) ? 'selected' : '' %>>
                    </option>
                    <% } %>
            </datalist>
            <span id="errorSystemOperacyjny" class="errors-text">
                <% if (validationErrors.find(komp=> komp.path.includes('zaintstalowany_System_Operacyjny'))) { %>
                    <%= validationErrors.find(komp=> komp.path.includes('zaintstalowany_System_Operacyjny')).message %>
                        <% } %>
            </span>


            <label for="typKomputeraInput">Typ Komputera:<abbr title="required" aria-label="required">*</abbr></label>

            <input type="text"
                class="<%= validationErrors.find(komp => komp.path.includes('typ_Komputera')) ? 'error-input' : '' %>"
                list="typKomputera" name="typ_Komputera" placeholder="Typ Komputera" id="typKomputeraInput"
                value="<%=komputer.typ_Komputera%>" <%=(formMode=='showDetails' ) ? 'disabled' : '' %>>
            <datalist id="typKomputera">
                <% for(let komp of allKomputers){ %>
                    <option value="<%=komp.typ_Komputera%>" <%=( komputer._id &&
                        komp._id.toString()==komputer._id.toString() ) ? 'selected' : '' %>>
                    </option>
                    <% } %>
            </datalist>
            <span id="errorTypKomputera" class="errors-text">
                <% if (validationErrors.find(komp=> komp.path.includes('typ_Komputera'))) { %>
                    <%= validationErrors.find(komp=> komp.path.includes('typ_Komputera')).message %>
                        <% } %>
            </span>


            <label for="dataStworzeniaInput">Data stworzenia:<abbr title="required"
                    aria-label="required">*</abbr></label>
            <input type="text"
                class="<%= validationErrors.find(komp => komp.path.includes('data_Stworzenia')) ? 'error-input' : '' %>"
                name="data_Stworzenia" id="dataStworzeniaInput" placeholder="yyyy-mm-dd"
                value="<%=komputer.data_Stworzenia ? komputer.data_Stworzenia.toISOString().split('T')[0] : '' %>"
                <%=(formMode=='showDetails' ) ? 'disabled' : '' %>>
            <span id="errorDataStworzenia" class="errors-text">
                <% if (validationErrors.find(komp=> komp.path.includes('data_Stworzenia'))) { %>
                    <%= validationErrors.find(komp=> komp.path.includes('data_Stworzenia')).message %>
                        <% } %>
            </span>

            <div class="form-buttons">
                <p id="errorSummary" class="errors-text"></p>

                <% if (formMode !='showDetails' ) { %>
                    <input class="form-button-submit" type="submit" value="<%=btnLabel%>" />
                    <a class="form-button-cancel" href="/komputers">Anuluj</a>
                    <% } else { %>
                        <a href="/komputers/edit/<%=komputer._id%>" class="list-actions-button-edit">Edytuj</a>
                        <a class="list-actions-button-details" href="/komputers">Powrót</a>
                        <% } %>
            </div>
        </form>


        <% if (formMode=='showDetails' || formMode=='edit' ) { %>
            <h1>Szczegóły zestawa elementa i komputera</h1>
            <table class="table-list">
                <thead>
                    <tr>
                        <th>
                            Nazwa elementu
                        </th>
                        <th>
                            Aktualna temperatura elementa w kopmputerze
                        </th>
                        <th>
                            Procenty wykorzystanych procentów elementa komputerzem
                        </th>
                        <th>
                            Aktualna szybkość przekazania dannych między elementem komputera a komputerą
                        </th>
                        <th>
                            Typ połączenia
                        </th>
                    </tr>
                </thead>
                <tbody>
                <tbody>
                    <% for (let z_e_k of komputer.zestaw_elementow_komputera) { %>
                        <tr>
                            <td><a href="/komputer-element/details/<%= z_e_k.element_komputera._id %>">
                                    <%=z_e_k.element_komputera.nazwa%>
                                </a></td>
                            <td>
                                <%=z_e_k.aktuakna_Temperatura%>
                            </td>
                            <td>
                                <%=z_e_k.procent_Wykorzystanych_Zasobow%>
                            </td>
                            <td>
                                <%=z_e_k.aktualna_Szybkosc_Przekazania_Danych%>
                            </td>
                            <td>
                                <%=z_e_k.typPolaczenia%>
                            </td>
                        </tr>
                        <% } %>
                </tbody>
                </tbody>
            </table>
            <% } %>
    </main>

    <% - include('../../fragments/footer.ejs') %>