<%- include('../../fragments/header.ejs')%>
    <main>
        <script type="application/javascript" src="/public/js/validationKomputerForm.js"></script>
        <h2>
            <%= pageTitle %>
        </h2>

        <form class="form" method="post" action="<%=formAction%>" novalidate onsubmit="return validateForm();">

            <input type="hidden" name="_id" value="<%=komputer._id%>">
            <!-- 
            <label for="model">Model:<abbr title="required" aria-label="required">*</abbr></abbr></label>
            <select name="model" id="model">
                <option selected disabled>Model komputera</option>
                <option value="Jaguar 3000">Jaguar 3000</option>
                <option value="Actina by Corsair">Actina by Corsair</option>
                <option value="Acer Aspire XC-330 AMD">Acer Aspire XC-330 AMD </option>
            </select>
            <span id="errorModel" class="errors-text"></span>
            -->
            <!-- NEW DOWN -->
            <label for="valueModel">Model:<abbr title="required" aria-label="required">*</abbr></label>
            <input type="text" list="model" placeholder="Model komputera" id="valueModel" value="<%=komputer.model%>"
                <%=(formMode=='showDetails' )? 'disabled' :''%> >

            <datalist id="model">
                <% for(let komp of allKomputers){ %>
                    <option value="<%=komp.model%>" <%=( komputer._id && komp._id.toString()==komputer._id.toString() )
                        ? 'selected' : '' %>>
                    </option>
                    <% } %>
            </datalist>
            <span id="errorModel" class="errors-text"></span>
            <!-- NEW UP-->
            <label for="systemOperacyjnyInput">Zainstalowany system operacyjny:<abbr title="required"
                    aria-label="required">*</abbr></label>
            <input type="text" list="systemOperacyjny" placeholder="System operacyjny" id="systemOperacyjnyInput"
                value="<%=komputer.zaintstalowany_System_Operacyjny%>" <%=(formMode=='showDetails' )? 'disabled' :''%>>
            <datalist id="systemOperacyjny">
                <% for(let komp of allKomputers){ %>
                    <option value="<%=komp.zaintstalowany_System_Operacyjny%>" <%=( komputer._id &&
                        komp._id.toString()==komputer._id.toString() ) ? 'selected' : '' %>>
                    </option>
                    <% } %>
            </datalist>
            <span id="errorSystemOperacyjny" class="errors-text"></span>


            <label for="typKomputeraInput">Typ Komputera:<abbr title="required" aria-label="required">*</abbr></label>
            <input type="text" list="typKomputera" placeholder="Typ Komputera" id="typKomputeraInput"
                value="<%=komputer.typ_Komputera%>" <%=(formMode=='showDetails' )? 'disabled' :''%>>
            <datalist id="typKomputera">
                <% for(let komp of allKomputers){ %>
                    <option value="<%=komp.typ_Komputera%>" <%=( komputer._id &&
                        komp._id.toString()==komputer._id.toString() ) ? 'selected' : '' %>>
                    </option>
                    <% } %>
            </datalist>
            <span id="errorTypKomputera" class="errors-text"></span>

            <label for="dataStworzeniaInput">Data stworzenia:<abbr title="required"
                    aria-label="required">*</abbr></label>
            <input type="text" name="dataStworzenia" id="dataStworzeniaInput" placeholder="yyyy-mm-dd"
                value="<%=komputer.data_Stworzenia %>" <%=(formMode=='showDetails' )? 'disabled' :''%>>
            <span id="errorDataStworzenia" class="errors-text"></span>

            <div class="form-buttons">
                <p id="errorsSummary" class="errors-text"></p>

                <% if (formMode !='showDetails' ) { %>
                    <input class="form-button-submit" type="submit" value="<%=btnLabel%>" />
                    <a class="form-button-cancel" href="/komputers">Anuluj</a>
                    <% } else { %>
                        <a href="/kopmuters/edit/<%=komputer._id%>" class="list-actions-button-edit">Edytuj</a>
                        <a class="list-actions-button-details" href="/komputers">Powrót</a>
                        <% } %>
            </div>
        </form>


        <% if (formMode=='showDetails' || formMode=='edit' ) { %>
            <h1>Szczegóły zestawa elementa i komputera</h1>
            <table class="table-list">
                <thead>
                    <tr>
                        <th>
                            Nazwa elementu
                        </th>
                        <th>
                            Aktualna temperatura elementa w kopmputerze
                        </th>
                        <th>
                            Procenty wykorzystanych procentów elementa komputerzem
                        </th>
                        <th>
                            Aktualna szybkość przekazania dannych między elementem komputera a komputerą
                        </th>
                        <th>
                            Typ połączenia
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <% for (let z_e_k of komputer.zestaw_elementow_komputera) { %>
                        <tr>
                            <td><a href="/komputer-element/details/<%= z_e_k.element_komputera._id %>">
                                    <%=z_e_k.element_komputera.nazwa%>

                                </a></td>
                            <td>
                                <%=z_e_k.aktuakna_Temperatura%>
                            </td>
                            <td>
                                <%=z_e_k.procent_Wykorzystanych_Zasobow%>
                            </td>
                            <td>
                                <%=z_e_k.aktualna_Szybkosc_Przekazania_Danych%>
                            </td>
                            <td>
                                <%=z_e_k.typPolaczenia%>
                            </td>
                        </tr>
                        <% } %>
                </tbody>
            </table>


            <% } %>

    </main>

    <%- include('../../fragments/footer.ejs')%>