<%- include('../../fragments/header.ejs')%>
    <main>
        <h2>Lista elementów komputera</h2>
        <table class="table-list">
            <thead>
                <tr>
                    <th>Nazwa</th>
                    <th>Akcje</th>
                </tr>
            </thead>
            <tbody>
                <% for ( let element of elements ){ %>
                    <tr>
                        <td>
                            <%= element.nazwa %>
                        </td>

                        <td>
                            <ul class="list-actions">
                                <li>
                                    <a href="/komputer-element/details/<%=elements._id%>"
                                        class="list-actions-button-details">Szczegóły</a>
                                </li>
                                <li>
                                    <a href="/komputer-element/details/<%=elements._id%>"
                                        class="list-actions-button-edit">Edytuj</a>
                                </li>
                                <li>
                                    <a href="/komputer-element/delete/<%=elements._id%>"
                                        class="list-actions-button-delete">Usuń</a>
                                </li>
                            </ul>
                        </td>
                    </tr>
                    <% } %>
                        <tr>
                            <td>
                                AMD Ryzen 5 3600 3,6GHz BOX (100-100000031BOX)
                            </td>

                            <td>

                                <ul class="list-actions">
                                    <li>
                                        <a href="" class="list-actions-button-details">Szczegóły</a>
                                    </li>
                                    <li>
                                        <a href="" class="list-actions-button-edit">Edytuj</a>
                                    </li>
                                    <li>
                                        <a href="" class="list-actions-button-delete">Usuń</a>
                                    </li>
                                </ul>
                            </td>

                        </tr>
            </tbody>
        </table>
        <p><a href="computer-element-form.html" class="button-add">Dodaj nowy element komputera</a></p>
    </main>
    <%- include('../../fragments/footer.ejs')%>