<%- include('../../fragments/header.ejs')%>
    <main>
        <script type="application/javascript;charset=utf-8" src="/public/js/validationKomputerElement.js"></script>

        <h1>
            <%=pageTitle%>
        </h1>
        <form class="form" method="post" action="<%=formAction%>" novalidate onsubmit="return validateForm();">
            <input type="hidden" name="_id" value="<%= element._id %>">
            <label for="nazwa">Nazwa:<abbr title="required" aria-label="required"
                    class="errors-text">*</abbr></abbr></label>
            <input type="text" name="nazwa" id="nazwa" value="<%= element.nazwa %>" <%=(formMode=='showDetails'
                )? 'disabled' :''%> />
            <span id="errorNazwa" class="errors-text"></span>

            <label for="opis">Opis:<abbr title="required" aria-label="required">*</abbr></abbr></label>
            <textarea cols="40" rows="8" name="opis" id="opis" <%=(formMode=='showDetails' ) ? 'disabled' : ''
                %>><%=element.opis%></textarea>
            <span id="errorOpis" class="errors-text"></span>

            <label for="fotoInput">Foto:<abbr title="required" aria-label="required">*</abbr></abbr></label>
            <%if (formMode=='showDetails' || formMode=='edit' ) {%>
                <div>
                    <img src="<%=element.foto_path %>" alt="foto <%=element.foto_path%>" class="form-opis-foto">
                </div>
                <% } %>
                    <!-- name="foto" изменить на "foto_path"? -->
                    <!-- <input type="file" name="foto" id="fotoInput" value="<%=element.foto_path%>" -->
                    <input type="file" name="foto" id="fotoInput" <%=(formMode=='showDetails' ) ? 'disabled' : '' %>/>
                    <!--
                    <input type="text" name="foto_path" id="fotoInput" value="<%=element.foto_path%>"
                        <%=(formMode=='showDetails' ) ? 'disabled' : '' %>/>
                    -->
                    <span id="errorFotoInput" class="errors-text"></span>
                    <% if (formMode=='showDetails' ) { %>
                        <div class="form-buttons">
                            <a href="/komputer-element/edit/<%=element._id%>"
                                class="list-actions-button-edit">Edytuj</a>
                        </div>
                        <% } %>
                            <!-- Это типа не нужно? 
                            <div class="form-buttons">
                                <p id="errorSummary" class="errors-text"></p>
                                <input type="submit" value="Dodaj" class="form-button-submit" />
                                <a href="computer-element-list.html" class="form-button-cancel">Anuluj</a>
                            </div>
                        -->
                            <div class="form-buttons">
                                <p id="errorsSummary" class="errors-text"></p>
                                <% if (formMode !='showDetails' ) { %>
                                    <input class="form-button-submit" type="submit" value="<%=btnLabel%>" />
                                    <a class="form-button-cancel" href="/komputer-element">Anuluj</a>
                                    <% } else { %>
                                        <a class="form-button-cancel" href="/komputer-element">Powrót</a>
                                        <% } %>
                            </div>
        </form>
        <% if (formMode=='showDetails' || formMode=='edit' ) { %>
            <h2>
                Szczegóły zestawa elementa i komputera
            </h2>
            <table class="table-list">
                <thead>
                    <tr>
                        <th>
                            Model Komputera
                        </th>
                        <th>
                            Aktualna temperatura elementa w kopmputerze
                        </th>
                        <th>
                            Procent wykorzystanych komputerzem zasobów elementa
                        </th>
                        <th>
                            Aktualna szybkość przekazania dannych między elementem komputera a komputerą
                        </th>
                        <th>
                            Typ połączenia
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <% for (let z_e_k of element.zestaw_elementow_komputera) { %>
                        <tr>
                            <!-- zestaw-komputera-element -->
                            <td><a href="/komputers/details/<%=z_e_k.komputer._id%>">
                                    <%=z_e_k.komputer.model%>
                                </a></td>
                            <td>
                                <%=z_e_k.aktuakna_Temperatura%>
                            </td>
                            <td>
                                <%=z_e_k.procent_Wykorzystanych_Zasobow%>
                            </td>
                            <td>
                                <%=z_e_k.aktualna_Szybkosc_Przekazania_Danych%>
                            </td>
                            <td>
                                <%=z_e_k.typPolaczenia%>
                            </td>
                        </tr>
                        <% } %>
                </tbody>
            </table>
            <% } %>

    </main>
    <%- include('../../fragments/footer.ejs')%>