<%- include('../../fragments/header.ejs')%>

    <main>

        <script type="application/javascript;charset=utf-8"
            src="/public/js/validationZestawElementaIKomputera.js"> </script>

        <h1>
            <%= pageTitle %>
        </h1>

        <form class="form" method="post" action="<%=formAction%>" novalidate onsubmit="return validateForm();">
            <input type="hidden" name="_id" value="<%= zestaw_elementa_i_komputera._id %>">
            <label for="model">Model komputera:<abbr title="required" aria-label="required">*</abbr></label>
            <!-- Здесь нужно ищменить name="model" на name="komputerId" ?? Изменяю-->

            <select name="komputerId" id="model" required <%=(formMode=='showDetails' ) ? 'disabled' : '' %> >
                <option value="" selected disabled>-- Model komputera --</option>
                <% for ( let i=0; i < allKomputers.length; i++){ let komputer=allKomputers[i]; %>
                    <option value="<%=komputer._id%>" label="<%= komputer.model %>" <%=(zestaw_elementa_i_komputera._id
                        && komputer._id.toString()==zestaw_elementa_i_komputera.komputer._id.toString()) ? 'selected'
                        : '' %> >
                    </option>
                    <% } %>
            </select>
            <span id="errorModel" class="errors-text"></span>
            <!-- Не был выбран  -->
            <label for="nazwaElementu">Nazwa elementu:<abbr title="required" aria-label="required">*</abbr></label>

            <select name="elementId" id="nazwaElementu" required <%=(formMode=='showDetails' ) ? 'disabled' : '' %>>
                <option value="" selected disabled>-- Nazwa elementu -- </option>
                <% for ( let i=0; i < allElements.length; i++){ let element=allElements[i]; %>
                    <option value="<%=element._id%>" label="<%=element.nazwa %>" <%=(zestaw_elementa_i_komputera._id &&
                        element._id.toString()==zestaw_elementa_i_komputera.element_komputera._id.toString())
                        ? 'selected' : '' %> >

                    </option>
                    <% } %>
            </select>
            <span id="errorNazwaElementu" class="errors-text"></span>
            <!-- Типа, не был выбран -->
            <label for="aktualnaTemperatura">Aktualna temperatura:<abbr title="required"
                    aria-label="required">*</abbr></label>
            <input type="text" name="aktualnaTemperatura" id="aktualnaTemperatura"
                value="<%=zestaw_elementa_i_komputera.aktuakna_Temperatura%>" <%=(formMode=='showDetails' ) ? 'disabled'
                : '' %>
            >
            <span id="errorAktualnaTemperatura" class="errors-text"></span>


            <label for="procentWykorzystanychZasobow">Procent wykorystanych zasobów:<abbr title="required"
                    aria-label="required">*</abbr></label>
            <input type="text" name="procentWykorzystanychZasobow" id="procentWykorzystanychZasobow"
                value="<%=zestaw_elementa_i_komputera.procent_Wykorzystanych_Zasobow%>" <%=(formMode=='showDetails' )
                ? 'disabled' : '' %>>
            <span id="errorProcentWykorzystanychZasobow" class="errors-text"></span>
            <!-- Мб, не название скорости в inout/label не соответсвует с название из БД-->
            <label for="aktualnaSzybkoscPrzekazaniaDanych">Aktualna szybkość przekazania danych:<abbr title="required"
                    aria-label="required">*</abbr></label>
            <input type="text" name="aktualnaSzybkoscPrzekazaniaDanych" id="aktualnaSzybkoscPrzekazaniaDanych"
                value="<%=zestaw_elementa_i_komputera.aktualna_Szybkosc_Przekazania_Danych%>"
                <%=(formMode=='showDetails' ) ? 'disabled' : '' %>>
            <span id="errorAktualnaSzybkoscPrzekazaniaDanych" class="errors-text"></span>

            <label for="typPolaczeniaInput">Typ polączenia elementa z komputerem:<abbr title="required"
                    aria-label="required">*</abbr></label>

            <input type="text" list="typPolaczenia" name="typPolaczenia" placeholder="Typ Polaczenia"
                id="typPolaczeniaInput" value="<%=zestaw_elementa_i_komputera.typPolaczenia%>"
                <%=(formMode=='showDetails' ) ? 'disabled' : '' %>
            >
            <datalist id="typPolaczenia">
                <% for( let zestaw of allZestaws){ %>
                    <option value="<%=zestaw.typPolaczenia%>" <%=( zestaw_elementa_i_komputera._id &&
                        zestaw._id.toString()==zestaw_elementa_i_komputera._id.toString() ) ? 'selected' : '' %>>
                    </option>
                    <% } %>
            </datalist>
            <span id="errorTypPolaczenia" class="errors-text"></span>

            <div class="form-buttons">
                <p id="errorsSummary" class="errors-text"></p>

                <% if (formMode !='showDetails' ) { %>
                    <input class="form-button-submit" type="submit" value="<%=btnLabel%>" />
                    <a class="form-button-cancel" href="/zestaw-komputera-element">Anuluj</a>
                    <% } else { %>
                        <a href="/zestaw-komputera-element/edit/<%=zestaw_elementa_i_komputera._id%>"
                            class="list-actions-button-edit">Edytuj</a>
                        <a class="list-actions-button-details" href="/zestaw-komputera-element">Powrót</a>
                        <% } %>
            </div>


        </form>
    </main>
    <%- include('../../fragments/footer.ejs')%>